<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a href="@Url.Action("Index", "YourController", null)" class="navbar-brand">
                    <img src="~/Content/images/lrmn_logo.jpg"/>
                <a />*@
            @Html.ActionLink("LRMN Intranet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin Tasks  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Admin Dashboard", "Dashboard", "Admin")</li>
                            <li>@Html.ActionLink("Contact Management", "ContactMgmt", "Admin")</li>
                            <li>@Html.ActionLink("Partner Organization Management", "PartnerOrganizationMgmt", "Admin")</li>
                        </ul>                        
                    </li>
                }
                else if (User.IsInRole("ProjectOwner"))
                {
                    <li>@Html.ActionLink("Project Owner Dashboard", "Dashboard", "ProjectOwner")</li>
                }
                else if (User.IsInRole("Contact"))
                {
                    <li>@Html.ActionLink("LRMN Contact Dashboard", "Dashboard", "Contact")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>